@import "https://fonts.googleapis.com/css?family=Merriweather";

main {
    min-height: 75vh;
    margin: 6px;
    margin-left: 0px;
}

.font-merriweather {
    font-family: Merriweather;
}

.bloglink-style {
    padding: 0 2rem 0 2rem;
}

@media only screen and (max-width: 475px){
    .bloglink-style {
        padding: 0 0 0.4rem 0;
    }
}


  

  /* card imaages */

  .custom-card-size .card {
    max-width: 400px; 
    margin: auto; 
    transform: scale(0.8); 
    transition: transform 0.3s ease; 
  }
  
  
  @media (max-width: 768px) {
    .custom-card-size .card {
      max-width: 100%; 
      transform: scale(1); 
    }
  }
  

  /* button styling for donate */
  .button{
    border: 1px solid black;
    background: none;
    padding: 10px 20px;
    font-size:20px;
    transition: 0,8s;
    position:relative
}

.mybtn{
    color:rgb(0, 0, 4);

}
.mybtn:hover{
color:#fff;
}

.button::before{
    content: '';
    position: absolute;
    left:0;
    width: 100%;
    height:0;
    background:#A0153E;
    z-index: -1;
    transition: 0.8s;
}

.mybtn::before{
    bottom: 0;
    border-radius:50% 50% 0 0;
}
.mybtn:hover::before{
    height: 140%
}


/* styling for the first container in stw */




.rows{
  display: flex;
  height: 88%;
  align-items: center;
}

.cols{
  flex-basis: 50%;
}



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.txt{
  /* Apply the animation */
  animation: bounce 2s infinite;
}

.join-stw-section {
  text-align: start; 
  margin: auto; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 0.5rem; 
  background-color: #8C275E; 
  padding: 1rem; 
  max-width: 200px;
}

.join-stw-title {
  color: #080101;
  margin: 0.5rem 1rem; 
  padding: 20px 0; 
  font-size: 1.75rem; 
  font-weight: bold; 
}

/* A style of adjusting image quality in team technology team image.*/
.high-quality-image {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: high-quality;
}
